<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.first_name %></h3>
    <p>
      <%= @giver.name %> accpeted your request for <%= @object.name %>! <br>
      Please go to <%= @url + "/messages" %> to arrange for the exchange.
    </p>
    <p>Thanks for usign GiversApp and have a great day!</p>
  </body>
</html>
