Welcome to GiversApp.org, <%= @user.name %>
=============================================

You seem to have new messages from other members. 
Please check them here: <%= @url + "/messages" %>.

To go to GiversApp, just follow this link: <%= @url %>.

Thanks for usign GiversApp and have a great day!</p>