<% @giving = Giving.find_by_id(conversation.subject) %>
<% if @giving.nil? %>
	<% @giving = "** This giving has been deleted **" %>
<% else %>
	<% @giving = @giving.name %>
<% end %>
<% if conversation.is_unread?(current_user) %>
	<li class="list-group-item clearfix">
			<b><%= link_to User.find_by_id(conversation.originator).name, conversation_path(conversation) %></b>
	</li>
<% else %>
	<li class="list-group-item disabled">
  		<%= link_to User.find_by_id(conversation.originator).name, conversation_path(conversation) %>
	</li>
<% end %>
