<% page_header "Your Conversations" %>


<% if @conversations.count > 0 %>
	<ul class="list-group">
	  <%= render partial: 'conversations/conversation', collection: @conversations %>
	</ul>
<% else %>
	<div class="condition-toast">
		You have no messages. 
	</div>
<% end %>

<%= will_paginate %>