<h1>All The Givings</h1>

<% @givings.each do |giving| %>
	<h2> <%= link_to giving.name, giving %> </h2>
<!-- 
	<% if !giving.image.nil? %>	
		<%= image_tag giving.image.url(:thumb) %>
	<% end %>
-->
<% end %>

<br><br>
<p> <%= link_to "Give", new_giving_path, class: "btn btn-default" %> </p>
