<br><br><br>
<meta http-equiv="refresh" content= <%="3;url=#{givings_path}" %>/>
<div class="welcome">
	<div style="display:flex;justify-content:center;align-items:center;font-size:26px">
	Only things we take with us are the ones that we have given away. </div>
	<div style="text-align:right;"><i>- Anonymous </i> </div>
</div>
