<br><br><br>
<meta http-equiv="refresh" content= <%="3;url=#{givings_path}" %>/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
<div class="quote">
	<div class="quote-body">
	All you can take with you is that which you've given away. </div>
	<div class="quote-source">It's a Wonderful Life, 1946 </div>
</div>
