/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

html, body {
	height:  				100%;
	font-family:  			"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:   			14px;
	line-height:  			1.42857143;
	color: 					#333;
	margin:  				0px;
}

a {
	color: 					#337ab7;
	text-decoration: 		none;
}
a:hover {
	color: 					#23527c;;
}

nav {
	background-color: 		#252525;
	border-color:  			#cacaca;
	height:  				52px;
	border-radius:   		4px;
	margin: 				1px;
	min-width:  			320px;
}
.navbar-center {
	background-color: 		#252525;
	border-color:  			#cacaca;
	margin: 				auto;
	max-width:  			1116px;
}

.navbar-menu-signup {
	background-color: 		#252525;
	border-color:  			#cacaca;
	float:  				right;
	display:  				inline-block;
	margin:  				0px;
	height:  				52px;
}
.navbar-menu-signup > li {
	display:  				inline-block;
	padding:   				0px;
	margin-top: 			15px;
}
.navbar-menu-signup > li a {
	transition: 			all 0.3s;
    color: 					#a0a0a0;
    padding: 	  			15px;
}
.navbar-menu-signup > li a:hover {
	color: 					#fafafa;
}

.navbar-menu-account {
	background-color: 		#252525;
	border-color:  			#cacaca;
	float:  				right;
	display:  				inline-block;
	margin:  				0px;
	height:  				52px;
}
.navbar-menu-account > li {
	display:  				inline-block;
	vertical-align:  		middle;
	margin-left:			15px;
}
.navbar-menu-account > li a {
	transition: 			all 0.3s;
    color: 					#a0a0a0;
}
.navbar-menu-account > li a:hover {
	color: 					#fafafa;
}

.navbar-brand {
	display:   				inline-block;
	margin-top: 			11px;
	margin-left:  			10px;
}
.navbar-brand > a {
	color:  				#dde9ef;
	text-decoration:   		none;
	font-size:  			1.4em;
}
.navbar-brand > img {
	display: 				inline-block;
	height:  				20px;
	vertical-align:  		sub;
}

.full-content {
	min-height:				100%;
	margin-bottom:  		-60px;

	margin-left: 			auto;
	margin-right: 			auto;
}
.full-content:after {
	content: 				"";
	display: 				block;
}
.site-footer, .full-content:after {
	height: 				60px
} 
.site-footer {
    width:  				100%;
    background-color: 		#f2f2f2;
    border-color: 			#c0c0c0;
    color:	 				#5e5e5e;
    font-size:  			.9em;
    padding-top:  			20px;
    text-align: 			center;
    border-radius:  		1px;
    min-width:  			320px;
}
.main-content {
	width:  				70%;
	margin-left: 			auto;
	margin-right: 			auto;
}
.round-image-50 {
    background-color: 		white;
    /* border: 1px solid #d9d9d9; */
    border-radius: 			25px;
    -moz-border-radius: 	25px;
    -webkit-border-radius: 	25px;
    height: 				50px;
    width: 					50px;
    overflow: 				hidden;
    text-align: 			center;
    padding: 				0px;
    img { width: 100% }
}
.messages {
  max-height: 				400px;
  overflow-y: 				auto;
  margin-bottom: 			1em;
  margin-top: 				1em;
}
.message_timestamp {
	font-size: 	 			0.8em;
	font-style: 			italic;
}
.user_profile {
	font-weight: 			bold;
	font-size:  			1em;
	color:  				#2A9096;
}
.glyphicon.glyphicon-arrow-down.arrow {
	color: 					red;
	font-size: 		 		1.2em;
}

/**
 * Quote page styling 
 */
.quote {
	width: 					45%;
	margin-left: 			auto;
	margin-right: 			auto;
	margin-top: 			1em;
	background: 			#fbfbfb;
	border-color: 			#c5d7ed;
	border-style: 			solid;
	border-width: 			1px;
	padding: 				1.5em;
	border-radius: 			0.5em;
}
.quote-body {
	margin-top: 			0.5em;
	display: 				flex;
	justify-content:		center;
	align-items:			center;
	font-family: 			Quicksand;
	font-size:				2.1em;
	font-weight: 			500;
	line-height: 			1em;
}
.quote-source {
	margin-top: 			1.2em;
	text-align:				right;
	font-family: 			Quicksand;
	font-size:				1.2em;
	font-weight: 			300;
	font-style: 			italic;
	margin-bottom: 			0.4em;
}
.checkbox-text {
	font-weight:  			normal;
	color: 					#4595EA;
}

.fade {
	background-color: 		#FAFAFA;
}
.indent {
	margin-left: 			40px;
}
a:hover {
	text-decoration: 		none;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-default {
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.input-group {
	display: table;
	position: relative;
	border-collapse: separate;
}
.input-reply-message {
    padding: 8px;
    height: auto;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: table-cell;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}
.btn-reply {
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding-left: 26px;
    padding-right: 10px;
    border-radius: 4px;
    -webkit-user-select: none;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: table-cell;
    width: 1%;
}
.btn-reply:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.badge-message {
	background-color:  		red;
	padding: 				0px 4px;
	border-radius: 			3px;
	vertical-align:  		top;
	margin-top: 			-8px;
	display:  				inline-block;
	color:  				white;
}
.badge-givings {
	background-color:  		#ec2a35;
	padding: 				0px 4px;
	border-radius: 			4px;
	vertical-align:  		top;
	display:  				inline-block;
	color:  				white;
	font-size:  			1.0em;
}

.panel-heading {
	margin-top: 20px;
	margin-bottom: 0px;
	background-color: #eaeaea;
	padding: 8px;
	border-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid transparent;
}
.panel-body {
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 4px;
	border-top: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 1px solid #d9d9d9;
	padding: 0px 10px;
}

.conversations-heading {
	font-size: 1.3em;
	margin-top: 12px;
	display: table;
	width: 100%;
	text-align: center;
}
.conversations-section-left {
	display: table-cell;
	padding: 2px 6px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 50%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.conversations-section-right {
	display: table-cell;
	padding: 2px 6px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 50%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0;
}

.conversations-section-left.active, 
.conversations-section-right.active {
	font-weight: bold;
	background-color: #fff;
}
.conversations-section-left.inactive,
.conversations-section-right.inactive {
	font-weight: normal;
	font-size: 0.8em;
	background-color: #ccc;
}

.conversations-heading-sorting {
	display: inline-block; 
	font-size: 0.9em;
	width: 100%;
	text-align: right;
	padding: 5px;
	box-sizing: border-box;
}
.conversations-group {
	margin: 0px;
	padding: 0px;
}
.conversation-title {
	margin: 4px 0px 8px 0px;
}
/**
  * may be better to use "topic-box" instead of conversation-items 
  */
.conversation-item-unread {
	border: 1px solid #ddd;
	background-color: #fff;
	border-bottom: 1px solid transparent;
	padding: 8px;
}
.conversation-item-read {
	border: 1px solid #ddd;
	background-color: #eaeaea;
	border-bottom: 1px solid transparent;
	padding: 8px;
}
.conversation-item-read:last-child, 
.conversation-item-unread:last-child {
	border-bottom: 1px solid #ddd;
	border-radius: 4px;
}
.conversation-item-read:first-child, 
.conversation-item-unread:first-child {
	border-radius: 4px;
}

/**
 * Landing page boxes
 */

.floating-box-old {
	display: 				block;
	min-width: 				310px;
	width: 					100%;
	min-height: 			300px;
	vertical-align: 		top;
	margin: 				10px;
	border-radius: 			4px;
	border-color: 			#500000;
	padding: 				10px;
}
.floating-box-give {
	min-height:  			260px;
	min-width:  			290px;
	vertical-align: 		top;
}
.floating-box-givings {
	min-width: 				290px;
	min-height:  			150px;
}
.givings-header {
	background-color: 		#656565;
	border-radius: 			3px;
	height: 				31px;
	padding: 				3px;
	color:  				#f0f0f0;
	min-width:  			285px;
}
.givings-header-left {
	float: 					left;
	height: 				28px;
}
.givings-header-right {
	float: 					right;
	height:  				25px;
	color: 					#606060;
	margin-top: 			3px;
}
.givings-header-left > h3 {
	margin: 				3px;
	font-size:  			1.25em;
}
.giving-preview {
	height:  				150px;
 	width: 					120px;
	display:  				inline-block;
	padding: 				5px;
	margin: 				5px;
	background-color: 		#f0f0f0;
	border: 				1px solid #e5e5e5;
	border-radius:  		5px;
	box-shadow: 			5px 5px 15px #999999;
	vertical-align: 		top;
	text-align:  			center;
}
.giving-preview a {
	color: 					#494949;
}
.giving-preview-title {
	padding-top: 			3px;
}
#box-blocks {
	text-align:				center
}
#give-section {
	line-height: 			260px;
}
.give-action {
	font-size: 				4em;
	font-weight: 			800;
	vertical-align: 		middle;
}
.condition {
	color: 					#337AB7;
	margin: 				12px 1px;
	padding: 				0px;
	display: 				inline;
}
#image-target {
	margin-bottom: 			6px;
}
#giving_name {
	color: 					#353535;
	font-size: 				0.9em;
}

select {
	color: 					#454545;
   	margin: 				0 auto;
  	width: 					90px;       
}
textarea {
	color: 					#252525;
	font-size: 				0.9em;
}

.field_with_errors {
	display: 				inline-block;
	color:  				#DC7231;
}

.btn-file {
    position: 				relative;
    overflow: 				hidden;
}
.btn-file input[type=file] {
    position: 				absolute;
    top: 					0;
    right:					0;
    min-width: 				100%;
    min-height: 			100%;
    font-size: 				100px;
    text-align: 			right;
    filter: 				alpha(opacity=0);
    opacity: 				0;
    outline: 				none;
    background: 			white;
    cursor: 				inherit;
    display: 				block;
}

.condition-toast {
    background-color: 		#F7ECD9;
    border-color: 			#F1BCBC;
    color: 					#E65D0A;
    padding: 				15px;
    margin-bottom: 			20px;
    border: 				1px solid #F1BCBC;
    border-radius: 			4px;
}
.condition-info {
    background-color: 		#d9edf7;
    border-color: 			#bce8f1;
    color: 					#31708f;
    padding: 				15px;
    margin-bottom: 			20px;
    border: 				1px solid #bce8f1;
    border-radius: 			4px;
}

h2, h3 {
	font-size:  			1.4em;
	margin-bottom: 	 		20px;
}

.profile-name {
	font-size:  			1.8em;
	font-weight:   			bold;
	color: 					#3A6682;
	margin-top:  			3px;
	margin-bottom:  		-3px;
}
.profile-pic {
	border-radius: 			4%;
}
.profile-timestamp {
	color:  				#3C3E82;
	margin-bottom:  		12px;
	margin-top:  			8px;
}
.user-location {
	font-weight:  			normal;
	color: 					#808080;
	font-style: 			italic;
}
.user-zip {
	padding-left: 			0px;
}
.user-country {
	padding-left: 			0px;
}

.topic-box {
	margin-bottom: 			4px;
	border: 				1px solid #e9e9e9;
	border-radius:  		3px;
}
.topic-box.unread {
	background-color: 		#FFF;
}
.topic-box.read {
	background-color: 		#EEEEEE;
}

.topic-box-image {
	display:				inline-block; 
	width: 					90px;
	height:  				45px;
	text-align:  			center;
	vertical-align: 		top;
	margin:	 				2px;
	position:  				relative;
    border-radius:			5%;
    overflow:				hidden;
}
.topic-box-image img {
	height:  				inherit;
}

#options-dropdown {
	position: 				absolute;
	z-index: 				100;
	background-color:   	#252525;
	border-radius:  		3%;
	width: 					120px;
}
#options-dropdown > li {
    padding-top:   			5px;
    padding-bottom: 		5px;
    border-radius:  		5%;
}
#options-dropdown > li.editprofile {
    border-color: 			#252525;
    border-bottom-color: 	#454545;
    border-width:  			1px;
    border-style:  			solid;
}
#options-dropdown > li.signout {
    border-color: 			#252525;
    border-top-color: 		#454545;
    border-width:  			1px;
    border-style:  			solid;
}
#options-dropdown > li a {
	transition: 			all 0.3s;
    color: 					#a0a0a0;
}
#options-dropdown > li a:hover{
    color: 					#fafafa;
}
.bookmark-section {
	margin-left: 			15px;
}

.comment-card {
}
.comment-card.user {
	display: 				inline-block;
    font-weight: 			bold;
    font-size: 				1em;
    color: 					#2A9096;
}
.comment-card.body {
	display: 				inline-block;
    width: 					70%;
    vertical-align: 		top;
}
.mobile {
	display:  				none;
}
.desktop {
	display:  				inline-block;
}
/**
 * Styling for mobile devices (iPhone)
 */
@media only screen and (max-device-width: 480px) { 
	body {
		font-size: 			1.6em;
	}
	.mobile {
		display:  			inline-block;
	}
	.quote {
		width: 				100%;
		margin-top: 		3em;
		padding: 			1.5em;
		border-radius: 		1em;
	}
	.quote-body {
		font-size:			1em;
	}
	.quote-source {
		font-size:			0.6em;
		margin-bottom: 		0.5em;
	}

	.verticalLine {
		display: 			none;
	}
	.floating-box {
		width: 				100%;
		border-radius: 		0.2em;
		padding: 			2px;
		margin:				0px;
		margin-top: 		10px;
		min-height:  		200px;
	}
	.give-action {
		font-size: 			2.6em;
	}
	h2, h3 {
		font-size: 			1.3em;
		margin-bottom:   	20px;
	}
	h4, p, a {
		font-size: 			1em;
	}
	p {
		margin: 			0 0 20px 0;
	}
	.indent {
		font-size: 			1em;
	}
	.desktop {
		display:			none;
	}

	nav {
		height:  				80px;
		border-radius:   		0px;
	}
	.navbar-cener {
		margin: 				5px;
	}
	.navbar-brand {
		margin-left:  			6px;
		margin-top: 			13px;
	}
	.navbar-brand > a {
		font-size:  			1.5em;
	}
	.navbar-brand > img {
		vertical-align:  		middle;
	}
	.navbar-menu-account {
		padding-left: 	 		0px;
		margin: 				8px;
		font-size:  			0.8em;
	}
	.navbar-menu-signup {
		padding-left: 	 		0px;
		margin: 				2px;
		margin-top:  			15px;
		font-size:  			0.8em;
	}

	.givings-header {
		height: 			50px;
		padding: 			2px;
	}
	.givings-header-right {
		padding: 			3px;
	}

	.full-content {
		margin-bottom:  		-80px;
	}
	.site-footer, .full-content:after {
		height: 				100px
	} 
	.site-footer {
		height:  			100px;
		padding-top:  		40px;
	}

	.giving-preview {
		min-height:			160px;
		height:  			auto;
		width: 				120px;
		padding: 			4px;
		box-shadow:  		8px 8px 12px #999999;
		margin: 			4px;
		font-size:  		0.8em;
	}
	.main-content {
		width: 				90%;
	}
	.btn {
	    padding: 			18px 28px;
	    font-size: 			1.1em;
	    border-radius: 		8px;
	}
	select {
	  	width: 				200px;       
	}
	footer {
		padding-top:  		5px;
	}
	.agreement {
		min-height:			36px;
		min-width:			36px;
	}
	.round-image-50 {
	    border: 			1px solid #d9d9d9;
	    border-radius: 		30px;
	    -moz-border-radius: 30px;
	    -webkit-border-radius: 30px;
	    height: 			60px;
	    width: 				60px;
	}
	.form-control {
		font-size: 			0.9em;
	}
	.badge-message {
		font-size: 			1em;
		margin-right:  		-5px;
		margin-top:  		-12px;
	}
	#give-section {
		line-height:   		260px;
		min-height:  		185px;
	}
	.topic-box-image {
		height:				60px;
	}
	#options-dropdown {
		width: 				180px;
	}
}
