/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

html, body {
	height:  				100%;
	font-family:  			"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:   			14px;
	line-height:  			1.42857143;
	color: 					#333;
	margin:  				0px;
}

a {
	color: 					#337ab7;
	text-decoration: 		none;
}
a:hover {
	color: 					#2f72ab;
	text-decoration: 		none;
}

nav {
	background: linear-gradient(90deg, #222, #666);
	border-color:  			#cacaca;
	height:  				52px;
	border-radius:   		0px;
	margin: 				1px;
	min-width:  			320px;
}
.navbar-center {
	border-color:  			#cacaca;
	margin: 				auto;
	max-width:  			1116px;
}

.navbar-menu-signup {
	border-color:  			#cacaca;
	float:  				right;
	display:  				inline-block;
	margin:  				0px;
	height:  				52px;
}
.navbar-menu-signup > li {
	display:  				inline-block;
	padding:   				0px;
	margin-top: 			15px;
}
.navbar-menu-signup > li:last-child {
	margin-right: 			8px;
}
.navbar-menu-signup > li a {
	transition: 			all 0.3s;
    color: 					#bbb;
    padding: 	  			8px;
}
.navbar-menu-signup > li a:hover {
	color: 					#fbfbfb;
	background-color:  		#6a7375;
}
#user-pic > a {
	padding: 				0px;
}

.navbar-menu-account {
	border-color:  			#cacaca;
	float:  				right;
	display:  				inline-block;
	margin:  				0px;
	height:  				52px;
}
.navbar-menu-account > li {
	display:  				inline-block;
	vertical-align:  		middle;
}
.navbar-menu-account > li a {
	transition: 			all 0.3s;
    color: 					#bbb;
    padding: 				8px;
}
.navbar-menu-account > li a:hover {
	color: 					#fbfbfb;
	background-color: 		#6a7375;
}

.navbar-brand {
	display:   				inline-block;
	margin-top: 			13px;
	margin-left:  			10px;
}
.navbar-brand > a {
	color:  				#dde9ef;
	text-decoration:   		none;
	font-size:  			1.4em;
	vertical-align: 		bottom;
	font-weight: 			bold;
	font-style: 			italic;
}
.navbar-brand-logo > img {
	display:   				inline-block;	
	margin-top: 			-1px;
	height:  				20px;
}

.full-content {
	min-height:				100%;
	margin-bottom:  		-60px;

	margin-left: 			auto;
	margin-right: 			auto;
}
.full-content:after {
	content: 				"";
	display: 				block;
}
.site-footer, .full-content:after {
	height: 				60px
} 
.site-footer {
    width:  				100%;
    background-color: 		#f2f2f2;
    border-color: 			#c0c0c0;
    color:	 				#5e5e5e;
    font-size:  			.9em;
    padding-top:  			20px;
    text-align: 			center;
    border-radius:  		0px;
    min-width:  			320px;
}
.main-content {
	width:  				70%;
	margin-left: 			auto;
	margin-right: 			auto;
}
.main-content #dark-overlay {
	display: 				none;
	position: 				absolute;
	width: 					100%;
	height:  				100%;
	right: 					0;
	top: 					53px;
	opacity:  				0.75;
	z-index: 				3;
	background-color:  		black;
}
.round-image-50 {
    background-color: 		white;
    /* border: 1px solid #d9d9d9; */
    border-radius: 			25px;
    -moz-border-radius: 	25px;
    -webkit-border-radius: 	25px;
    height: 				50px;
    width: 					50px;
    overflow: 				hidden;
    text-align: 			center;
    padding: 				0px;
    display:  				inline-block;
    img { width: 100% }
}
.round-image-120 {
	border: 1px solid #d9d9d9;
	object-fit: cover;
	width:120px;
    height:160px;
    border-radius:4%;
    -moz-border-radius: 4%;
    -webkit-border-radius: 4%;
}
.shrink-image {
	height: 				60%;
	width: 					60%;
}
.mini-image {
	height: 				25px;
	width: 					25px;
}
.messages {
  max-height: 				400px;
  overflow-y: 				auto;
  margin-bottom: 			1em;
  margin-top: 				0.6em;
}
.message_timestamp {
	font-size: 	 			0.8em;
	font-style: 			italic;
}
.message-preview {
	display:  				table-cell;
	vertical-align:  		top;
}
.message-body {
	overflow:  				hidden;
	text-overflow:  		ellipsis;
	max-height:  			40px;
}
.message-timestamp-column {
	min-width: 				50px;
	max-width:  			80px;
	display:  				table-cell;
	vertical-align:  		top;
	float: 					right;
}
.user_profile {
	font-weight: 			bold;
	font-size:  			1em;
	color:  				#2A9096;
}
.glyphicon.glyphicon-arrow-down.arrow {
	color: 					red;
	font-size: 		 		1.2em;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 12px 0;
    border-radius: 0px;
}
.pagination>li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
	position: relative;
    float: left;
    padding: 4px 8px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #236375;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #d4d4d4;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #236375;
    border-color: #236375;
}

/**
 * Quote page styling 
 */
.quote {
	width: 					45%;
	margin-left: 			auto;
	margin-right: 			auto;
	margin-top: 			1em;
	background: 			#fbfbfb;
	border-color: 			#c5d7ed;
	border-style: 			solid;
	border-width: 			1px;
	padding: 				1.5em;
	border-radius: 			0.5em;
}
.quote-body {
	margin-top: 			0.5em;
	display: 				flex;
	justify-content:		center;
	align-items:			center;
	font-family: 			Quicksand;
	font-size:				2.1em;
	font-weight: 			500;
	line-height: 			1em;
}
.quote-source {
	margin-top: 			1.2em;
	text-align:				right;
	font-family: 			Quicksand;
	font-size:				1.2em;
	font-weight: 			300;
	font-style: 			italic;
	margin-bottom: 			0.4em;
}
.checkbox-text {
	font-weight:  			normal;
	color: 					#37576f;
}

.fade {
	background-color: 		#FAFAFA;
}
.indent {
	margin-left: 			40px;
}


.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 1.1em;
    line-height: 1.42857143;
    -webkit-user-select: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-default {
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 1.1em;
    line-height: 1.42857143;
    -webkit-user-select: none;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.input-group {
	display: table;
	position: relative;
	border-collapse: separate;
	margin-bottom: 18px;
}
.input-reply-message {
    padding: 8px;
    height: auto;
    font-family: inherit;
    font-size: 1.1em;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 0px;
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: table-cell;
    margin-bottom: 0px;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
   	box-sizing: border-box;
}
.input-new-message {
    padding: 8px;
    height: auto;
    font-family: inherit;
    font-size: 1.1em;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 0px;
    display: table-cell;
    margin-bottom: 0px;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
   	box-sizing: border-box;
}
.btn-reply {
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.42857143;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0px;
    -webkit-user-select: none;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: table-cell;
    width: 1%;
}
.btn-reply:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.badge-message {
	background-color:  		red;
	padding: 				0px 4px;
	border-radius: 			0px;
	vertical-align:  		top;
	margin-top: 			-8px;
	display:  				inline-block;
	color:  				white;
}
.badge-givings {
	background-color:  		#ec2a35;
	padding: 				0px 4px;
	border-radius: 			0px;
	vertical-align:  		top;
	display:  				inline-block;
	color:  				white;
	font-size:  			1.0em;
}

.panel-heading {
	margin-top: 20px;
	margin-bottom: 15px;
	background-color: #eaeaea;
	padding: 2px;
	border-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid transparent;
}
.panel-body {
	margin-top: 4px;
	margin-bottom: 10px;
	border-radius: 0px;
	border-top: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 1px solid #d9d9d9;
	padding: 0px 10px;
}

.conversations-heading {
	font-size: 1.3em;
	margin-top: 18px;
	display: table;
	width: 100%;
	text-align: center;
}
.conversations-section-left {
	display: table-cell;
	padding: 2px 6px;
	border-radius: 2px;
	border: 1px solid #a9cad4;
	width: 50%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.conversations-section-right {
	display: table-cell;
	padding: 2px 6px;
	border-radius: 2px;
	border: 1px solid #a9cad4;
	width: 50%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0;
}

.conversations-section-left.active, 
.conversations-section-right.active {
	font-weight: bold;
	color: white;
	background: linear-gradient(90deg, #236375, #4ca1b9);
}
.conversations-section-left.inactive,
.conversations-section-right.inactive {
	font-weight: normal;
	font-size: 0.8em;
	background-color: #fff;
}

.conversations-heading-sorting {
	display: inline-block; 
	font-size: 0.9em;
	width: 100%;
	text-align: right;
	padding: 5px;
	box-sizing: border-box;
}
.conversations-group {
	margin: 0px;
	padding: 0px;
}
.conversation-title {
	margin: 6px 3px;
	font-size: 1.3em;
	font-weight: bold;
	display: inline-block;
	height: 20px;
}
.conversation-image {
	display: inline-block;
}
.conversation-status {
	margin: 0px 2px;
	height: 36px;
}
.conversation {
	display: inline-block;
}
/**
  * may be better to use "topic-box" instead of conversation-items 
  */
.conversation-item-unread {
	border: 1px solid #ddd;
	background-color: #fff;
	border-bottom: 1px solid transparent;
	padding: 8px;
}
.conversation-item-read {
	border: 1px solid #ddd;
	background-color: #eaeaea;
	border-bottom: 1px solid transparent;
	padding: 8px;
}
.conversation-item-read:last-child, 
.conversation-item-unread:last-child {
	border-bottom: 1px solid #ddd;
	border-radius: 4px;
}
.conversation-item-read:first-child, 
.conversation-item-unread:first-child {
	border-radius: 4px;
}

/**
 * Landing page boxes
 */

.floating-box-old {
	display: 				block;
	min-width: 				310px;
	width: 					100%;
	min-height: 			300px;
	vertical-align: 		top;
	margin: 				10px;
	border-radius: 			4px;
	border-color: 			#500000;
	padding: 				10px;
}
.floating-box-give {
	min-height:  			260px;
	min-width:  			290px;
	vertical-align: 		top;
}
.floating-box-givings {
	min-width: 				290px;
	min-height:  			150px;
}
.givings-header {
	background: 			linear-gradient(90deg, #222, #555);;
	border-radius: 			1px;
	height: 				32px;
	padding: 				3px;
	color:  				#f0f0f0;
	margin-bottom: 			5px;
}
.givings-header-left {
	display:  				inline-block;
	float: 					left;
	height: 				28px;
	padding: 				3px;
}
.givings-header-right {
	display:  				inline-block;
	float: 					right;
	height:  				25px;
	color: 					#606060;
	min-width:  			100px;
	margin-top: 			3px;
	padding: 				3px;
}
.givings-header-left > h3 {
	margin: 				2px;
	font-size:  			1.25em;
	text-align: 			left;
}
.giving-preview {
	height:  				150px;
 	width: 					120px;
	display:  				inline-block;
	padding: 				6px;
	margin: 				5px;
	background-color: 		#f0f0f0;
	border: 				1px solid #e5e5e5;
	border-radius:  		3px;
	box-shadow: 			5px 5px 15px #999999;
	vertical-align: 		top;
	text-align:  			center;
}
.giving-preview a {
	color: 					#494949;
}
.giving-preview-title {
	padding-top: 			3px;
	max-height:  			45px;
	overflow: 	 			hidden;
	text-overflow: 			ellipsis;
	display:  				-webkit-box;
	-webkit-line-clamp: 	2;
	-webkit-box-orient: 	vertical;
}
.giving-preview-image {
	height:  				110px;
	overflow:  				hidden;
}
.giving-preview-image img {
	border-radius:  		2px;
	width:  				80px;
	height: 				110px;
	object-fit:  			cover;
}
#box-blocks {
	text-align:				center
}
#give-section {
	height:  				290px;
}

.give-action {
	font-size: 				4em;
	position:  				relative;
	top: 					92px;
	font-weight: 			800;
	line-height: 			1em;
	height:  				60px;
	display: 				inline-block;
	vertical-align: 		middle;
	background: 			linear-gradient(90deg, #c9dcde, #f0fafb);
    border-radius: 			1px;
    padding: 				12px;
    border:					1px solid #d3e8ea;
    transition: background 0.5s;

    -webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;

	color: #236375;
}
.give-action:hover, .give-action:focus, .give-action:active {
  -webkit-animation-name: give-action;
  animation-name: give-action;
  -webkit-animation-duration: .65s;
  animation-duration: 0.65s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background: linear-gradient(90deg, #a1ccd2, #e5f3f3);
  color: #236375;
}

.givings-local {
	display:inline-block;
	font-style:italic;
	font-size:0.9em;
	color:#999;
}
.givings-local-mobile {
	display: none;
	font-style:italic;
	font-size:0.9em;
	color:#999;	
}

/* Buzz Out */
@-webkit-keyframes give-action {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes give-action {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}


.condition {
	color: 					#337AB7;
	display: 				inline-block;
	font-size:  			1em;
	width: 	 				85%;
	padding: 				1px;
}
#image-target {
	margin-bottom: 			6px;
}

.field_with_errors {
	display: 				inline-block;
	color:  				#DC7231;
}

.btn-file {
    position: 				relative;
    overflow: 				hidden;
}
.btn-file input[type=file] {
    position: 				absolute;
    top: 					0;
    right:					0;
    min-width: 				100%;
    min-height: 			100%;
    font-size: 				100px;
    text-align: 			right;
    filter: 				alpha(opacity=0);
    opacity: 				0;
    outline: 				none;
    background: 			white;
    cursor: 				inherit;
    display: 				block;
}

.condition-toast {
    background-color: 		#F7ECD9;
    border-color: 			#F1BCBC;
    color: 					#E65D0A;
    padding: 				15px;
    margin-bottom: 			20px;
    border: 				1px solid #F1BCBC;
    border-radius: 			0px;
}
.condition-info {
    background-color: 		#d9edf7;
    border-color: 			#bce8f1;
    color: 					#31708f;
    padding: 				15px;
    margin-bottom: 			20px;
    border: 				1px solid #bce8f1;
    border-radius: 			0px;
}
.alert {
    background-color: 		#F7ECD9;
    border-color: 			#F1BCBC;
    color: 					#E65D0A;
    padding: 				15px;
    margin-bottom: 			20px;
    margin-top: 			12px;
    border: 				1px solid #F1BCBC;
    border-radius: 			0px;
}


h2, h3 {
	font-size:  			1.4em;
	margin-bottom: 	 		20px;
}

.profile-name {
	font-size:  			1.8em;
	font-weight:   			bold;
	color: 					#3A6682;
	margin-top:  			3px;
	margin-bottom:  		-3px;
}
.profile-pic {
	border-radius: 			4%;
}
.profile-timestamp {
	color:  				#3C3E82;
	margin-bottom:  		12px;
	margin-top:  			8px;
	margin-left: 			5px;
}
.user-location {
	font-size:  			0.9em;
	margin-left:  			1px;
	font-weight:  			normal;
	color: 					#808080;
	font-style: 			italic;
}
.user-details {
	display: 				inline-block;
	vertical-align: 		top; 
	margin: 				8px;
	height:		 			160px;
	margin-bottom: 			10px;
}
.user-details-mini {
	display: 				inline-block;
	margin-left: 			4px;
	vertical-align: 	 	top;
	min-width: 				110px;
	width: 					80%;
}
.user-details-mini-conv {
	display: 				inline-block;
	margin-left: 			4px;
	vertical-align: 	 	top;
	min-width: 				110px;
}
.user-stats {
	display: 				inline-block;
	width: 					70px;
	height: 				70px;
	vertical-align: 		top;
}
.user-stats-mini {
	width: 					45px;
	height: 				45px;
	vertical-align: 		top;
	display: 				flex;
	align-items: 			center;
}
.user-zip {
	padding-left: 			0px;
}
.user-country {
	padding-left: 			0px;
}
.user-reviews {
	font-size: 				0.9em;
}

.topic-box {
	margin-bottom: 			4px;
	border: 				1px solid #e9e9e9;
	height: 				67px;
	width: 					98%;
	margin-left: 			auto;
	margin-right: 			auto;
}
.topic-box.unread {
	background-color: 		#FFF;
}
.topic-box.read {
	background-color: 		#EEEEEE;
}

.topic-box-image {
	display:				inline-block; 
	width: 					100px;
	height:  				60px;
	text-align:  			center;
	vertical-align: 		top;
	margin:	 				2px;
	position:  				relative;
    overflow:				hidden;
}
.topic-box-image img {
	width: 					60px;
	border-radius: 			2px;

}
.topic-box-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    height: 20px;
}
.topic-box-image-wrapper {
	display: inline-block;
	width: 100px;
	height: 70px;
}
.topic-box-message {
	display:inline-block;
	vertical-align: top;
}
.user-badge {
	min-width:  			150px;
	display: 				table-cell;
	text-overflow:  		ellipsis;
}
.user-credits {
	vertical-align: 	 	top;
	display: 				inline-block;
}
.user-giving-score {
	font-weight:  			bold;
	color: 					#333;
}

.options-dropdown-center {
	visibility: 			hidden;
	margin: 				auto;
	max-width:  			1116px;
	position: 				relative;
}
#options-dropdown {
	position: 				absolute;
	visibility: 			visible;
	z-index: 				100;
	background:   			linear-gradient(90deg, #777, #aaa);
	border-radius:  		1px;
	width: 					120px;
	right: 					0;
	font-size: 				1em;
	list-style: 			none;
}
#options-dropdown > li {
    padding: 	  			5px;
    padding-left: 			9px;
    border-radius:  		0px;
}
#options-dropdown > li.editprofile {
    border-color: 			transparent;
    border-bottom-color: 	#454545;
    border-width:  			1px;
    border-style:  			solid;
}
#options-dropdown > li.signout {
    border-color: 			transparent;
    border-top-color: 		#454545;
    border-width:  			1px;
    border-style:  			solid;
}
#options-dropdown > li a {
	transition: 			all 0.3s;
    color: 					#111;
}
#options-dropdown > li a:hover{
    color: 					#fafafa;
}
.bookmark-section {
	margin-left: 			15px;
}

.comment-card {
}
.comment-card.user {
	display: 				inline-block;
    font-weight: 			bold;
    font-size: 				1em;
    color: 					#2A9096;
}
.comment-card.body {
	display: 				inline-block;
    width: 					70%;
    vertical-align: 		top;
}
.mobile {
	display:  				none;
}
.desktop {
	display:  				inline-block;
}
.status {
	font-weight: 			bold;
	font-size: 				1.2em;
}
.status.accepted {
	color: 					green;
}
.status.confirmed {
	color: 					rgb(23, 153, 205);
}
.status.sent {
	color: 					gray;
}
.status.given {
	color: 					#0685ad;
}
.status.regiven {
	color: 					#578e12;
}
.status.transfer {
	color: 					#ff873f;
}
.given-date {
	font-style: 			italic; 
	font-size: 				0.8em;
}
.message-bubble {
	width: 					85%;
	margin-top:				6px;
	margin-left:			2px;
	margin-right: 			2px;
	border-radius: 			4px;
	padding: 				4px 7px;
}
.message-bubble.squeeze {
	margin-top: 			3px;
}
.message-bubble.right {
	background-color:  		#ccd9de;
	float: 					right;
}
.message-bubble.left {
	background-color:  		#F0F0F0;
	float: 					left;
}
.message-bubble.accepted {
	color:  				#2f9e03;
	margin:					6px 2px;
}
.message-bubble.confirmed {
	color:  				#0087ff;
	margin:					8px 2px;
}
.clickable-div {

}
.giving-name-input {
	padding: 5px;
    font-family: inherit;
    line-height: 1.42857;
    border-width: 1px;
    width: 100%;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;    
}

.giving-wish-input {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 0px;
    padding: 5px;
}

.regive-condition {
    margin: 0px;
    margin-bottom: 20px;
    border: 1px dotted #ea9946;
    padding: 8px;
    background-color: #efe5da;
}

.user-giving-score-message {
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
}

/**
 * Styling for mobile devices (iPhone)
 */
@media only screen and (max-device-width: 480px) { 
	body {
		font-size: 			1.6em;
	}
	.mobile {
		display:  			inline-block;
	}
	.quote {
		width: 				100%;
		margin-top: 		3em;
		padding: 			1.5em;
		border-radius: 		1em;
	}
	.quote-body {
		font-size:			1em;
	}
	.quote-source {
		font-size:			0.6em;
		margin-bottom: 		0.5em;
	}

	.verticalLine {
		display: 			none;
	}
	.floating-box {
		width: 				100%;
		border-radius: 		0.2em;
		padding: 			2px;
		margin:				0px;
		margin-top: 		10px;
		min-height:  		200px;
	}
	.give-action {
		font-size: 			2.6em;
		top:				108px;
	}
	h2, h3 {
		font-size: 			1.3em;
		margin-bottom:   	20px;
	}
	h4, p, a {
		font-size: 			1em;
	}
	p {
		margin: 			0 0 20px 0;
	}
	.leftindent a {
		margin-left: -15px;
	}
	.signout a {
		margin-left: -15px;
	}
	.editprofile a {
		margin-left: -15px;
	}
	.indent {
		font-size: 			1em;
	}
	.desktop {
		display:			none;
	}

	nav {
		height:  				80px;
		border-radius:   		0px;
	}
	.navbar-cener {
		margin: 				5px;
	}
	.navbar-brand {
		margin-left:  			6px;
		margin-top: 			25px;
	}
	.navbar-brand > a {
		font-size: 				1.2em;
		vertical-align: 		top;
	}
	.navbar-brand > img {
		vertical-align:  		middle;
	}
	.navbar-menu-account {
		padding-left: 	 		0px;
		margin: 				8px;
		font-size:  			0.8em;
	}
	.navbar-menu-signup {
		padding-left: 	 		0px;
		margin: 				2px;
		margin-top:  			15px;
		font-size:  			0.8em;
	}
	.givings-header {
		height: 			39px;
		padding: 			3px;
	}
	.givings-header-left {
		padding: 			0px 3px 3px 3px;
		display:   			inline-block;
	}
	.givings-header-right {
		padding: 			0px 3px 3px 3px;
		display:   			inline-block;
	}
	.givings-header-left h3 {
		font-size: 	 		1.1em;
	}

	.full-content {
		margin-bottom:  		-80px;
	}
	.site-footer, .full-content:after {
		height: 				100px
	} 
	.site-footer {
		height:  			100px;
		padding-top:  		40px;
	}

	.giving-preview {
		min-height:			160px;
		height:  			auto;
		width: 				120px;
		padding: 			4px;
		box-shadow:  		8px 8px 12px #999999;
		margin: 			4px;
		font-size:  		0.8em;
	}
	.main-content {
		width: 				90%;
	}
	.main-content #dark-overlay {
		top: 				80px;
	}
	.btn {
	    padding: 			18px 28px;
	    font-size: 			1.1em;
	    border-radius: 		8px;
	}
	.condition {
		font-size: 			0.9em;
	}
	select {
	  	font-size: 	 		0.9em;    
	}
	footer {
		padding-top:  		5px;
	}
	.agreement {
		min-height:			26px;
		min-width:			26px;
		vertical-align: 	bottom;
	}
	.round-image-50 {
	    border: 			1px solid #5f5f5f;
	    border-radius: 		30px;
	    -moz-border-radius: 30px;
	    -webkit-border-radius: 30px;
	    height: 			60px;
	    width: 				60px;
	}
	.round-image-120 {
	    border: 			1px solid #d9d9d9;
	    border-radius: 		60px;
	    -moz-border-radius: 60px;
	    -webkit-border-radius: 60px;
	    height: 			120px;
	    width: 				120px;
	}
	.form-control {
		font-size: 			0.9em;
	}
	.badge-message {
		font-size: 			1em;
		margin-right:  		-5px;
		margin-top:  		-12px;
	}
	#give-section {
		min-height:  		185px;
	}
	.conversations-heading {
		font-size: 			0.85em;
	}
	.conversation-title {
		font-size: 1em;
		max-width: 205px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	height: 26px;
	}
	.conversation-status {
		font-size: 0.9em;
    	max-width: 200px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;		
	}
	.topic-box {
		height: 			92px;
		font-size: 			.9em;
	}
	.topic-box-image {
		height:				60px;
		width: 	 			80px;
	}
	.topic-box-image-wrapper {
		width: 80px;
	}
	.topic-box-message a {
		font-size: 0.8em;
	}
	.topic-box-title {
		height: 28px;
		max-width: 190px;
	}
	.status {
		font-size: 1em;
		margin-top: 2px;
	}
	#options-dropdown {
		width: 				180px;
	}
	#options-dropdown > li {
    	padding: 	  			8px;
    	padding-left: 			28px;
	}
	.profile-name {
		font-size:  			1.3em;
	}
	.user-details {
		height:		 			235px;
	}
	.user-stats {
		width: 					120px;
		height: 				120px;
	}
	.shrink-image {
		height: 				45%;
		width: 					45%;
	}
	.giving-name-input {
		font-size: 0.75em;
	}
	.user-giving-score-message {
		max-width: 220px;
	}
	.user-details-mini {
		width: 					72%;
	}
	.btn-reply {
    	padding-left: 0.3em;
    	padding-right: 0.3em;
    }
    .givings-local {
		display:none;
	}
	.givings-local-mobile {
		display: inline-block;
		font-size: 0.65em;
		margin-left: -5px;
	}
	.navbar-brand-logo > img {
		height:  32px;
		margin-left: 5px;
	}
}
